~/Documents/Ivy Tech/Summer 2024/CSCI101/Programming Assignments/M02 Programming Assignment 1/.~lock.AssignmentSubmissionTemplate.docx
~/Documents/Ivy Tech/Summer 2024/CSCI101/Programming Assignments/M02 Programming Assignment 1/AssignmentSubmissionTemplate.docx